body{
    background-color: rgba(0,0,0,.1);
    font-family: 'SF Pro Display', sans-serif ;

}
#logincont{
    margin: 10% 40%;
    width: 400px;
    background-color: #0833A2;
    padding: 20px 20px 20px 20px;
    font-family: 'SF Pro Display', sans-serif ;
    color: #fff;
}
#title{
    text-align: center;
}
#logo_header{
    margin: 0 40%;
}
.input{
    box-shadow: 0 0 0 1px rgba(0,0,0,.25); 
    border-color: transparent;
    font-size: 16px;
    min-height: 20px;
    border-radius: 0.375em;
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    width: 300px;
    background-color: #fff;
    border-radius: 0.375em;
    font-family: 'SF Pro Display', sans-serif ;
    padding-top: 0.8125em;
    padding-right: 0.75em;
    padding-bottom: 0.8125em;
    padding-left: 0.75em;
}
#input{
   margin: 10px 40%;
   background-color: transparent;
   border-color: transparent;
   color: #fff;
   font-family: 'SF Pro Display', sans-serif ;
}
#incio{
    margin: 10px 40%;
  text-decoration: none;
   color: #fff;
   font-family: 'SF Pro Display', sans-serif ;
}
.aasdd{
    text-decoration: none;
    color: #fff;
    width: 100px;
}
#info{
    color: #fff;
    font-family: 'SF Pro Display', sans-serif ;
}